<html>
	<head> <b>Cloud Quiz 6<b> </head>
	<body>
	<div class="container">
	 <label><b><u> Shilpa Shree</u></b></label>&nbsp&nbsp&nbsp&nbsp&nbsp	<label><b><u>1001540443</u></b></label>	<br><br>
	
	<form id="courselist" action="/courseslist" enctype="multipart/form-data" method="post">
	<input type = "hidden" name="sid">{{ studentid }}</input>
	<p class='description'></p> Courses to Enroll:<br><input type = "text" name="coursename"><input type="submit" value="Submit" id="submit_file"><br>
	</form>
	<h1> <b>Courses List </b><h1>	
	 <table border="2px">
                <tr><td>Courses</td></tr>
                {% for obj in res %}
                    <tr><td>{{ obj.CourseNo }}</td>
                </tr>
            {% endfor %}
        </table>
	</body>
</html>