<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect to AWS S3</title>
</head>
<body>
<div class="container">
    <label><b><u> Shilpa Shree</u></b></label>&nbsp&nbsp&nbsp&nbsp&nbsp	<label><b><u>1001540443</u></b></label>	<br><br>	
    <label><b>Upload:</b></label>
    <form id="formUpload" action="/load_db" enctype="multipart/form-data" method="post">
    <p class='description'></p> Please upload your documents here:<br><input type = "file" name="file_upload"><input type="submit" value="Submit" id="submit_file"><br>
    </form>

   <label><b>Select Instructor</b></label>
    <form id="formUpload" action="/instruct" enctype="multipart/form-data" method="post">
    <p class='description'></p> Instructor Name:<br><input type = "text" name="inst"><input type="submit" value="Submit" id="submit_file"><br>
    </form>
	 <table border="2px">
                <tr><td>Courses he handles</td></tr>
                {% for obj in res %}
                    <tr><td>{{ obj.CourseNo }}</td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>