<html>
	<head> <b>Cloud Quiz 5<b> </head>
	<body>
	<div class="container">
	 <label><b><u> Shilpa Shree</u></b></label>&nbsp&nbsp&nbsp&nbsp&nbsp	<label><b><u>1001540443</u></b></label>	<br><br>
	<form id="formUpload" action="/upload" enctype="multipart/form-data" method="post">
	User Name: <input type = "text" name="username">
	Password: <input type = "text" name="password">
	
	<select id="useroption" name="shilpa">
  		<option value="1">Upload Csv</option>
  		<option value="2">Courses</option>
		<option value="3">Load DB</option>
	</select>

	<input type="submit" value="Submit" id="submit_file">
	</body>
</html>

